.play_selection {
	height: var(--play-selection-height);
	background-color: var(--second-bg-color-for-blur);
	backdrop-filter: blur(20px);
	display: flex;
	padding: 0 40px;
	transition: 0.3s all ease;
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 999;
	animation: play-selection-fade-in 0.5s ease;
}

@keyframes play-selection-fade-in {
	from {
		bottom: var(--play-selection-height);
	}
	to {
		bottom: 0;
	}
}
