.main {
    padding-top: 100px;
    background-color: var(--second-bg-color);
    height: 100svh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    font-size: 4rem;
    font-weight: 700;
}

.buttons_wrapper {
    display: flex;
    margin-top: 30px;

    button {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.logout_btn {
    background-color: var(--error-color);

    &:hover {
        background-color: var(--error-color-hover);
    }
}