@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.auth {
    width: 100%;
    height: 100svh;
	background-color: var(--second-bg-color);
	flex: 1 1 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0 60px;

}
.auth_title {
	font-size: 4rem;
	color: var(--text-color);
	letter-spacing: 5px;
	font-weight: bold;
	font-family: 'Inria Sans';
}

.auth_wrapper {
	display: flex;
	justify-content: space-evenly;
	height: calc(100svh - 100px);
	align-items: center;
	background-color: var(--second-bg-color);
}

.reg_wrapper {
	height: 100%;
	display: flex;
	align-items: center;
}

.auth_form {
	max-width: 550px;
	width: 100%;
	max-height: 640px;
    height: 100%;
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	position: relative;

    padding: 40px;
}

.auth_form_title {
	font-weight: 600;
	font-size: 3.2rem;
	width: 355px;
	text-align: center;
	.brooklyn_word {
		color: var(--accent-color);
	}
}

.inputs_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_field {
	display: flex;
	flex-direction: column;
    gap: 10px;

	label {
		font-size: 1.5rem;
		font-weight: 500;
		position: relative;
		transition: 0.5s all ease;
	}
}

.label_icon_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20px;

	.auth_error_icon {
		width: 20px;
		height: 20px;
		position: relative;
		top: 30px;
		right: 10px;
		z-index: 11;
		color: var(--error-color);
		transition: 0.2s all ease;
		cursor: pointer;
	}
}

.forgot_pass {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;

	button {
		color: var(--text-disable-color);
		width: max-content;
		cursor: pointer;
		font-size: 1.4rem;
		font-weight: 300;

		@media (hover: hover) {
			&:hover {
				color: var(--text-color);
			}
		}
	}
}

.auth_form_actions {
    width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
    gap: 10px;
    button {
        width: 100%;
    }
}

.submit_auth_btn {
	padding: 15px 50px;
}

.switch_auth_btn {
	color: var(--text-disable-color);
	font-size: 1.4rem;
	font-weight: 400;
	padding: 0;
    height: 30px;

	@media (hover: hover) {
		&:hover {
			color: var(--text-color);
		}
	}
}

.disable_action {
	width: 100px;
	height: 100px;
	box-shadow: none;

	&:hover {
		@extend .disable_action;
		box-shadow: 0px 0px 30px 1px var(--accent-color);
	}
}

.sign_in_logo {
	position: relative;
	right: 2px;
	top: 2px;
}

.validation_error {
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: var(--error-color);
	font-size: 1.2rem;
	font-weight: 500;
	position: absolute;
	width: max-content;
	padding: 10px 20px;
	margin-left: 470px;
	margin-top: 23px;
	background-color: var(--main-bg-color-for-blur);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	z-index: 1;
	animation: error-fade-in 0.7s ease;
}

@media (max-width: 480px) {
    .auth {
        padding: 0;
    }

    .auth_form {
        max-height: 100%;
        border-radius: 0;
        padding: 40px 20px 10px 20px;
    }

    .auth_form_title {
        font-size: 2.4rem;
    }

    .auth_form_actions {
        width: 100%;
    }
}

@keyframes error-fade-in {
	from {
		opacity: 0;
		margin-left: 350px;
	}
	to {
		opacity: 1;
		margin-left: 470px;
	}
}
