.fullscreen_controls {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    padding: 16px;
}

.controller_btn {
    width: 36px;
    height: 36px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 50%;
    cursor: pointer;

    svg {
        width: 18px;
        height: 18px;
    }

    @media (hover: hover) {
        &:hover {
            svg {
                color: var(--accent-color);
            }
        }
    }
}

.left_controllers,
.center_controllers,
.right_controllers {
    display: flex;
    align-items: center;
    grid-column: 1;
}

.left_controllers {
    grid-row: 3;
    justify-self: end;
}

.center_controllers {
    grid-row: 2;
    align-self: center;
    justify-content: center;
    gap: min(20px, 4%);
}

.right_controllers {
    grid-row: 1;
    justify-self: end;
}

.fullscreen_play_btn {
    flex: none;
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.05);
        }
    }
}

.fullscreen_play_loader {
    width: 100%;
    height: 100%;
}

.fullscreen_next_rewind {
    transform: rotate(180deg);
}

.play_or_pause_icon {
    color: var(--text-color);
    position: relative;
    left: 2px;
    width: 22px;
    aspect-ratio: 1/1;

    &_playing {
        left: 0;
        width: 18px;
    }
}
