.artist_home_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {
        span {
            color: var(--accent-color);
        }

        img {
            transform: scale(1.1);
        }
    }
}

.type_big {
    height: 150px;
    flex: 0 0 110px;
}

.type_small {
    height: 100px;
    flex: 0 0 100px;
}

.artist_name {
    text-align: center;
    color: var(--text-second-color);
    transition: 0.5s ease all;
}

.name_big {
    font-size: 1.4rem;
    font-weight: 700;
}

.name_small {
    font-size: 1.2rem;
    font-weight: 500;
}

.artist_img {
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.img_big {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.img_small {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
