.main {
    padding: 80px 40px 40px 40px;
    background-color: var(--main-bg-color);
}

.cards_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.home_cards_wrapper {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(min(100%, max(550px, calc((100% - 30px) / 2))), 1fr)
    );
    gap: 30px;
    width: 100%;
}

.artists_line {
    margin-top: 23px;
    overflow: hidden;
    button {
        position: absolute;
        top: 650px;
        background-color: color-mix(in srgb, var(--inputs-bg-color) 60%, transparent);
        backdrop-filter: blur(4px);
        z-index: 11;
        animation: fade-in 0.5s ease;
        &:last-child {
            right: 65px;
        }

        &:first-child {
            left: 65px;
        }
    }

}


.shade {
    background: linear-gradient(270deg, rgba(38,22,22,0) 0%, var(--main-bg-color) 100%);
    position: absolute;
    width: 100px;
    left: 40px;
    top: 580px;
    z-index: 10;
    height: 173px;
    pointer-events: none;
    animation: fade-in 0.5s ease;
}

.home_artists_line {
    height: 210px;
    width: calc(100svw - 80px);
    overflow: hidden;

    &::after {
        content: '';
        background: linear-gradient(90deg, rgba(38,22,22,0) 0%, var(--main-bg-color) 100%);
        position: absolute;
        width: 100px;
        right: 40px;
        top: 570px;
        height: 210px;
        pointer-events: none;
        animation: fade-in 0.5s ease;
        opacity: 1;
    }

    span:first-child {
        font-weight: 700;
        font-size: 3.2rem;
    }
}

.artists_line_wrapper {
    display: flex;
    align-items: center;
    transition: 1s all ease;
    width: max-content;
    gap: 30px;
}

.something_new {
    margin-bottom: 20px;
}

.something_new_title {
    font-size: 3.2rem;
    font-weight: 700;
}

.home_track_cards_wrapper {
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // gap: 20px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
