.general_btn {
    width: max-content;
    font-family: 'Rubik';
}

.accent {
    background-color: var(--accent-color);
    border-radius: 10px;
    transition: 0.4s all ease;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: var(--accent-color-hover);
        }
    }
}

.simple {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    transition: 0.4s all ease;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: var(--text-color);
            color: var(--accent-color);
        }
    }
}

.alternative {
    background-color: var(--inputs-bg-color);
    color: var(--text-disable-color);
    border-radius: 100px;
    transition: 0.3s all ease;
    cursor: pointer;
    
    @media (hover: hover) {
        &:hover {
            color: var(--text-color);
            transform: scale(1.02);

            svg {
                color: var(--accent-color);
            }
        }
    }
}

.disable {
    background-color: var(--disabled-bg-color);
    color: var(--text-disable-color);
    border-radius: 10px;
}

.general_link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size_xs {
    font-size: 1.1rem;
}

.size_s {
    font-size: 1.2rem;
}

.size_m {
    font-size: 1.4rem;
}

.size_l {
    font-size: 1.6rem;
}

.size_xl {
    font-size: 1.8rem;
}

.size_2xl {
    font-size: 2rem;
}

.size_3xl {
    font-size: 3.2rem;
}

.weight_regular {
    font-weight: 400;
}

.weight_medium {
    font-weight: 500;
}

.weight_semibold {
    font-weight: 600;
}

.weight_bold {
    font-weight: 700;
}