.general_btn {
    width: max-content;
    font-family: 'Rubik';
}

.accent {
    background-color: var(--accent-color);
    border-radius: 10px;
    transition: 0.4s all ease;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: var(--accent-color-hover);
        }
    }
}

.simple {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    transition: 0.4s all ease;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: var(--text-color);
            color: var(--accent-color);
        }
    }
}

.alternative {
    background-color: var(--inputs-bg-color);
    color: var(--text-disable-color);
    border-radius: 100px;
    transition: 0.3s all ease;
    cursor: pointer;
    
    @media (hover: hover) {
        &:hover {
            color: var(--text-color);
            transform: scale(1.02);

            svg {
                color: var(--accent-color);
            }
        }
    }
}

.disable {
    background-color: var(--disabled-bg-color);
    color: var(--text-disable-color);
    border-radius: 10px;
}

.general_link {
    display: flex;
    justify-content: center;
    align-items: center;
}