.idle_icon {
    color: var(--text-color);
    transition: 0.3s all ease;

    @media (hover: hover) {
        &:hover {
            color: var(--accent-color-hover);
        }
    }
}

.disable_icon {
    color: var(--text-disable-color);
}

.active_icon {
    color: var(--accent-color);
    transition: 0.3s all ease;

    @media (hover: hover) {
        &:hover {
            color: var(--accent-color-hover);
        }
    }
}

.like_icon {
    stroke-width: 2px;
    fill: none;

    &:hover {
        fill: none;
        color: var(--accent-color);
    }
}


.add_playlist {
    path {
        &:nth-child(2) {
            d: path('M19 6h-17');
        }
        &:nth-child(3) {
            d: path('M2 12h11');
        }
        &:nth-child(4) {
            d: path('M11 18h-9');
        }
        stroke-width: 2.5;
    }
}

@keyframes playing-tag-bar {
    0% {
        height: var(--tag-height);
    } 50% {
        height: calc(var(--tag-height) * 0.33);
    } 100% {
        height: var(--tag-height);
    }
}

.playing_tag {
    animation: fade-in 500ms ease;
    width: var(--tag-height);
    height: var(--tag-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        background-color: var(--accent-color);
        border-radius: 100px;
        display: flex;
        justify-content: space-between;
        width: var(--bar-width);
        height: var(--tag-height);
        animation: playing-tag-bar 1s ease infinite;

        &:first-child {
            animation-delay: 0.5s;
        }

        &:last-child {
            animation-delay: 0.75s;
        }
    }
}