@keyframes playing-tag-bar {
    0% {
        height: var(--tag-height);
    } 50% {
        height: calc(var(--tag-height) * 0.33);
    } 100% {
        height: var(--tag-height);
    }
}

.playing_tag {
    animation: fade-in 500ms ease;
    width: var(--tag-height);
    height: var(--tag-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        background-color: var(--accent-color);
        border-radius: 100px;
        display: flex;
        justify-content: space-between;
        width: var(--bar-width);
        height: var(--tag-height);
        animation: playing-tag-bar 1s ease infinite;

        &:first-child {
            animation-delay: 0.5s;
        }

        &:last-child {
            animation-delay: 0.75s;
        }
    }
}
